h2{
    color:darkgreen;
}

body{
    background-color:darkgreen;
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-aling:center;
}

header{
    border-bottom: darkolivegreen;
}

footer